html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: black;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
